@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-orange: #EB9239;
$slate-50: rgb(248 250 252);

@mixin shadow(){
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.image-container {
  img {
    position: unset !important;
    height: auto !important;
  }
}

.image-container-h {
  img {
    position: unset !important;
    width: auto !important;
  }
}

.selected-tab {
  background-color: $primary-orange;
  color: $slate-50;
  font-weight: bold;
  padding-inline: 1.25rem;
  padding-block: 0.5rem;
  border-radius: 0.25rem;
  @include shadow();
  cursor: not-allowed;
}

.selectable-tab{
  border-width: 1px;
  border-color: $primary-orange;
  color: #111;
  font-weight: bold;
  padding-inline: 1.25rem;
  padding-block: 0.5rem;
  border-radius: 0.25rem;
  @include shadow();

  &:hover{
    background-color: $primary-orange;
    color: $slate-50;
  }
}
